{% extends 'AgoratecVueloAppBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("bundles/agoratecvueloapp/css/navigation.css") }}" />

{% endblock %}

{% block body %}
{{ parent() }}


{% block nav_bar%}
{% include "AgoratecVueloAppBundle:Navigation:navbar.html.twig"%}

{% include "AgoratecVueloAppBundle:Navigation:route.html.twig"%}
	
{% endblock %}
<div id="map_canvas"></div>





{% endblock %}


{% block javascripts %}
{{ parent() }}
	<script type="text/javascript"
		 src="http://maps.google.com/maps/api/js?sensor=true&region=ES">

	</script>

	<script type="text/javascript" src="{{ asset("bundles/agoratecvueloapp/js/navigation.js") }}">
	</script>
{% endblock %}
