<div class="row-fluid">
  <div class="span12">		
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
		    <div class="container">
			 <a class="brand" href={{ path('AgoratecVueloAppBundle_homepage') }}><img src="{{ asset('bundles/agoratecvueloapp/images/favicon.png') }}"> AppVuelo</a>
			<ul class="nav pills">
			  <li class="active"><a href="{{ path('AgoratecVueloAppBundle_homepage') }}">Home</a></li>
			 <li class="active"><a href="{{ path('AgoratecVueloAppBundle_navigationpage') }}">Volar!</a></li>
			<li class="localizate"><a href="#">Localizate</a></li>
			<form class="navbar-search pull-left">
			  <input type="text" class="search-query" placeholder="Buscar...">
			</form>
			  
			</ul>
				<ul class="nav pull-right">
				 <li class="dropdown" id="menu1">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
				      Usuario
				      <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="{{ path('usuario_login') }}">Login</a></li>
				      <li><a href="#">Registrate</a></li>
				      <li><a href="#">Something else here</a></li>
				      <li class="divider"></li>
				      <li><a href="#">Salir</a></li>
				    </ul>
			</li>
				</ul>
			  
	
		    </div>
		</div>
	</div>
  </div>
</div>
