{% extends 'AgoratecVueloAppBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("bundles/agoratecvueloapp/css/home.css") }}" />
{% endblock %}

{% block body %}
{{ parent() }}
<div id="map_canvas" style="width:100%; height:100%"></div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
	<script type="text/javascript"
		 src="http://maps.google.com/maps/api/js?sensor=false">
	</script>

	<script type="text/javascript" src="{{ asset("bundles/agoratecvueloapp/js/home.js") }}">
	</script>
{% endblock %}
